<header>
<div class="header">

  <div class="header-top">
    <div class="container">
      <ul class="header-top__navi">
      </ul>
    </div>
  </div>
</header>
<p><font size="4"><%= link_to "管理画面TOPに戻る", :admins %></font></p>
<%= form_for @job, html: { multipart: true } do |form| %>
<%= render "form", form: form %>
<p><%= form.submit "更新"%></p>
<% end %>
