<!-- <h1>お客様を一番に考えられる仲間が待ってます★</h1>
<p>Q-oo. OF THE HAIR Fish Town(クゥオブザヘアーフィッシュタウン)の求人</p> -->

<% @job_title = @job.title %>
<h1><%= @job.title %></h1>

<p><%= link_to "編集", [:edit, @job] %></p>

<table class="attr">
  <tr>
    <th width="100">タイトル</th>
    <td><%= @job.title %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@job.detail) %></td>
  </tr>
</table>
