<h1>求人一覧</h1>
<p>美容・治療・リラクゼーションの求人・転職情報</p>

<p><%= link_to '求人案件詳細', jobs_job_path %></p>


<form method="get" action="http://localhost:3000/lists/pref">
<%#= プルダウン選択 %>
<p>
    <%= label_tag :area_id, '都道府県:' %>
    <%= select_tag :area_id,
      options_from_collection_for_select(Area.all, "id", "name",
        selected: @area_id), include_blank: true %>

        <p><input type="submit" value="検索"></p>

</p>
  </form>
