<!DOCTYPE HTML PUBLIC>

<html>

<body>
  <header>
  <div class="header">

    <div class="header-top">
      <div class="container">
        <ul class="header-top__navi">
          <li><a href="/admins">管理画面</a></li>
            <li><a href="/sessions/new" rel="nofollow">求職者様ログイン</a></li>
        </ul>
      </div>
    </div>
  </header>

<img src="https://relax-job.com/images/user_frontend/pc/logo_header.png" alt="リジョブ"><font size="3">produced by</font><font size="4">オーランド長岡</font><font size="3">.大阪Lover</font>
</br></br>
<h1><font size="4">美容・治療・リラクゼーションの求人・転職情報</font></h1>
<hr>
<div class="key-visual-top">
  <div class="js-slick--keyvisual">
    <div class="key-visual__elements key-visual__elements___pt1">
      <img alt="美容・リラクゼーション・治療に特化した求人サイト" src="https://relax-job.com/images/user_frontend/pc/img_top_keyv01.png" />
    </div>
  </div>
</div>

  <div align = center>

<div class="cols_4"><button name="input" type="button" onclick="location.href='/jobs'"value="/jobs" class="btn btn--xbig btn--pt3 w-500px">カンタン検索！</button>


<div class="modal_box02 p_20 t_center">
  <a href="/users/new" class="btn btn--pt1 btn--large txt_size_14 w-280px">無料会員登録</a>
</div>



</body>

</html>
